*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#loadingSp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 5;
    display:  none;
    justify-content: center;
    align-items: center;
  }

img{
width: 50%;
display: block;
margin: 50px 40px 50px 60px;

}



.form-control{
    text-align: center;
}
.details{
    background-color: #5f6169;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
}
.details p:first-child{
    font-weight: 600;
    color: rgb(32, 213, 180);
}
.details p:last-child{
    font-size: 25px;
}
.card{
    border-radius: 20px;
    border: 1px solid;
}
.top-bar{
    font-size: 1.5rem;
    margin-left: 20px ;
}
.title__text{
    font-style: oblique;
}
.header__bar{
    display: flex;
    justify-content: space-between;
    
}
.cartInImg{
    width: 20%;
}
.content__cart{
    justify-content: space-around;
    align-items: center;
}
.text__cart{
    flex-direction: column;
    align-content: space-between;
}

.payCart{
    margin-top: 150px;
}

