#loadingSp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 5;
    display:  none;
    justify-content: center;
    align-items: center;
  }
  .text-form {
    color: red;
    margin-left: 2px;
    display: none;
}